body{
    margin: 0px;
    padding: 0px;
    background-color: #F9F9F9;
}
.header{
    
    height: 50px;
    display: flex;
    background-color: white;
}
.nav-icon{
    /*border: 1px solid green;*/
    width: 25px;
    margin: 17px 0 0 15px;
    size: 40px;
}
.ytub-img {
    width: 100px;
    margin: 12px 0 0 15px;
    size: 40px;
}
.inputf{
    width: 690px;
    margin-top: 6px;
    margin-left: 150px;
    display: flex;
}
.inputf input{
    width: 590px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
}
.search-icon{
    width: 70px;
    height: 36px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    border-left: none;
}
.voice{
    margin-left: 5px;
}
.user-contents{
    display: flex;
    margin-left: 180px;
}
.camera{
    margin-top: 15px;
}
.apps{
    margin-top: 14px;
    margin-left: 25px;
}
.notification{
    margin-top: 13px;
    margin-left: 25px;
}
.user{
    margin-top: 7px;
    margin-left: 25px;
    margin-right: 20px;
}
/* header section ended here. */
.continer{
    margin: auto;
    padding: auto;
    max-width: 1200px;
    margin-top: 20px;
    border: 1px solid blue;
    display: flex;
}
.video-section{
    width: 740px;
    height: 410px;
    border: 1px solid red;
}
.morevids{
    width: 450px;
    border: 1px solid rgb(123, 226, 123);
    height: 900px;
}
.more-videos{
    width: 450px;
    height: 40px;
    border: 1px solid black;
}
.btn1{
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 50px;
    height: 35px;
    margin-top: 2px;
    margin-left: 5px;
}
.btn2{
    border-radius: 20px;
    background-color: #E0E0E0;
    color: black;
    font-size: 16px;
    width: ;
    height: 35px;
    margin-top: 2px;
    margin-left: 5px;
}
